* {
    margin-left: 0%;
    margin-right: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    width: 200px;
}

header i {
    position: relative;
    right: 100px;
}